body {
    background: #dddddd;
}
h1 {
    font-size: 16px;
    text-decoration: underline;
    font-style: normal;
    color: white;
    background: purple;
    padding: 10px;
}

table {
    background: white;
}
    
